*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: $colorPrimary;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

main{
    padding-top: $spacing * 2;
    background-color: $bgMain;
}

p{
    padding: $spacing / 2 0;
}

.filter{
    display: flex;
    justify-content: center;
}

#filter-genre{
    border-radius: 10px;
}
